services:
  postgres:
    image: postgres:16
    container_name: contacts_postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: contacts_redis
    restart: always
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "no" ]

volumes:
  postgres_data:
